.game {
    height: calc(100vh - 5%);
    width: calc(100% - 80px);
    left: 0px;
    top: 0px;
    padding: 0 40px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-field {
    display: grid;
    grid-template-columns: auto auto auto;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
    gap: 4px;
    width: min-content;
}

.players {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: #FFFFFF;
    height: fit-content;
    width: calc(500px - 64px);
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
    margin-right: 10px;
}

.player-stat {
    display: flex;
    gap: 12px;
}

.player-icon-size {
    width: 24px;
    height: 24px;
}

.icon-circle-color {
    stroke: #E38BAC;
}

.icon-cross-color {
    fill: #60C2AA;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-timer {
    padding: 24px;
    background: #EDEDED;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 40px;
}

.current-turn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 12px 0px;
    margin-top: 40px;
    gap: 12px;

    background: #373745;
    color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
}

.player-stat-name {
    margin: 0;
}

.player-stat-win-rate {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #898993;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 655px;
    width: 352px;
    margin-left: 10px;
}

.chat-messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.chat-message {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
}

.chat-message_left {
    border-radius: 16px 16px 16px 0;
    margin-right: auto;
}

.chat-message_right {
    border-radius: 16px 16px 0 16px;
    margin-left: auto;
}

.chat-message-header {
    display: flex;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.chat-sender-name {
    margin: 0;
    margin-right: auto;
}

.sender-name-left-color {
    color: #60C2AA;
}

.sender-name-right-color {
    color: #E38BAC;
}

.send-time {
    margin: 0;
    margin-left: auto;
    color: #898993;
}

.message-text {
    margin: 0;
}

.send {
    display: flex;
    width: 100%;
}

.send-input {
    width: 100%;
}

.send-btn {
    margin-left: 12px;
    padding: 12px;
}

.send-icon {
    width: 24px;
    height: 18px;
}

.input__textbox {
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    box-sizing: border-box;
    border-radius: 12px;
    height: 48px;
    padding: 12px 20px;
}