.rating {
    margin: 5%;
}

.rating__name {
    width: 424px;
}

.rating__wins {
    color: #69B849;
}

.rating__loses {
    color: #E93E3E;
}

.table__row {
    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 #EEEFF5;
}

.table__cell {
    text-align: left;
    padding: 8px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}