.gameField_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 12px;
  height: 180px;
  width: 180px;
  padding: 10px;
}

.gameField_cell:hover {
  background: #F7F7F7;
}

.cross {
  fill: #60C2AA;
  width: 170px;
  height: 170px;
}
  
.circle {
  stroke: #E38BAC;
  width: 170px;
  height: 170px;
}
