.login {
    min-width: 352px;
    padding: 40px 24px;
    border-radius: 16px;
    align-items: center;
    margin: auto;
}

.login-dog {
    width: 132px;
    height: 132px;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form_field {
    margin-bottom: 12px;
}

.form_submit {
    margin-top: 8px;
}

.input {
    border: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}

.input_label {
    margin-bottom: 8px;
}

.input_textbox {
    background: #FFFFFF;
    border: 1px solid #DCDCDF;
    box-sizing: border-box;
    border-radius: 12px;
    height: 48px;
    padding: 12px 20px;
}

.input_textbox::placeholder {
    color: #B1B1B7;
}

.input_textbox:hover {
    border-color: #60C2AA;
}

.input_textbox:focus {
    border-color: #3BA189;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.button_primary {
    background: #60C2AA;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.button_primary:hover {
    background: #3BA189;
}

.button_primary:disabled {
    background: rgba(96, 194, 170, 0.3);
    color: #FFFFFF;
    border: none;
}