* {
  font-family: Roboto;
}

body {
  margin: 0;
}

.app {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  height: fit-content;
}

.box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin: 0;
}

.text_bold {
  font-weight: 500;
}

.text_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
  margin-top: 0px;
}