nav {
    width: calc(100% - 80px);
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.link:visited {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

/* .link:focus {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px 12px;
    color: #FFFFFF;
    background: #60C2AA;
    border-radius: 200px;
} */

.link_active {
    padding: 4px 12px;
    color: #FFFFFF;
    background: #60C2AA;
    border-radius: 200px;
}

.link_active:visited {
    padding: 4px 12px;
    color: #FFFFFF;
    background: #60C2AA;
    border-radius: 200px;
}

.svg_logo_icon {
    
}

.svg_exit_icon {
    cursor: pointer;
}